* {
  margin: 0;
  padding: 0;
}

nav {
  background: #004200;
  color: #fff;
}

#logo-img {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.language {
  margin: 0.7rem 0.3rem;
  display: flex;
  justify-content: space-between;
}
.body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

form {
  /* display: flex; */
  width: 30%;
  align-items: center;
  flex-direction: column;
  margin: 1.2rem;
}

input {
  font-size: 1.2rem;
  padding: 0.4rem;
  background: #ddd;
  border: none;
}

#login {
  color: #004200;
  margin-left: 1rem;
  font-size: 2rem;
}

.input {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.tel-field {
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tel-field i {
  margin-right: 0.2rem;
}

#password {
  background: transparent;
}

.eye {
  color: black;
  /* font-size: 2rem; */
}

input:focus {
  outline: none;
}

.check {
  display: flex;
  gap: 0.2rem;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

input[type="checkbox"] {
  appearance: inherit;
  /* -webkit-appearance: none; */
  width: 20px;
  height: 20px;
  border: 2px solid #004200;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #004200;
}

#pwd {
  color: #004200;
  transition: all 0.3s;
}
#pwd:hover {
  transform: scale(1.1);
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn {
  padding: 0.4rem;
  width: 50%;
  font-size: 1.4rem;
  outline: none;
  border: none;
  color: #ddd;
  border-radius: 2px;
  background: #004200;
  margin-top: 1.3rem;
  transition: all 0.3s;
}

button:last-child {
  background: none;
  border: 2px solid #004200;
  color: #111;
  width: 80%;
}

button:first-child {
  width: 80%;
}

button:first-child:hover {
  background: #fff;
  border: 2px solid #004200;
  color: #111;
}

button:last-child:hover {
  background: #004200;
  color: #fff;
}

@media screen and (max-width: 760px) {
  form {
    width: 80%;
  }
}

button a {
  color: #fff;
  text-decoration: none;
}
button:hover a {
  color: #004200;
}

button:last-child a {
  color: #004200;
}

button:last-child:hover a {
  color: #fff;
}
